<div class="w-screen flex flex-row">
  <div name="banner-image" class="w-full h-screen flex flex-col p-5">
    <%= image_tag("home.JPG", :alt => "home image", class: "h-full object-cover rounded-lg") %>
  </div>
  <div class="w-full p-5 flex flex-col justify-between">
    <div name="local-time" class="w-full h-fit flex flex-row justify-between">
      <%= link_to "ZANAHOR.IO", root_path, class: "hover:text-orange-400" %>
      <%= local_time(@time) %>
    </div>
    <hr class="border border-black">
    <div name="content" class="w-full h-full flex flex-row items-center">
      <div class="h-fit">
        <p class="text-5xl">
          I<br>
          AM<br>
          ZANAHORIO
        </p>
      </div>
    </div>
    <hr class="mb-5 border border-black">
    <div name="navbar" class="w-full h-fit flex flex-row items-end justify-evenly text-xl">
      <%= link_to "BLOG", blog_posts_path, class: "hover:text-orange-400" %>
      <%= link_to "SIPS&BITS", root_path, class: "hover:text-orange-400" %>
      <%= link_to "GALERIA", root_path, class: "hover:text-orange-400" %>
      <%= link_to "SOBRE MI", aboutme_path, class: "hover:text-orange-400" %>
      <div class="flex flex-row gap-2">
        <%= link_to icon('fa-brands', 'square-github', class:'fa-2xl'), "https://github.com/iamzanahorio", :target => "_blank" %>
        <%= link_to icon('fa-brands', 'square-twitter', class:'fa-2xl'), "https://twitter.com/iamzanahorio", :target => "_blank" %>
        <%= link_to icon('fa-brands', 'square-instagram', class:'fa-2xl'), "https://www.instagram.com/iamzanahorio/", :target => "_blank" %>
      </div>
    </div>
  </div>
</div>
