<div class="w-screen p-5 flex flex-col justify-between">
  <div class="min-h-screen flex flex-col">
    <div name="local-time" class="w-full h-fit flex-initial flex flex-row justify-between">
      <%= link_to "ZANAHOR.IO", root_path, class: "hover:text-orange-400" %>
      <%= local_time(@time) %>
    </div>
    <hr class="border border-black">
    <div name="content" class="w-full h-full py-20 flex-auto flex flex-col items-center justify-around">
      <div name="self-portrait-image" class="h-72 w-auto flex flex-col">
        <%= image_tag("me.JPG", :alt => "self-portrait", class: "max-h-full max-w-full") %>
      </div>
      <div name="Introduction message" class="h-fit text-center">
        <p class="text-5xl pb-5">
          I AM ZANAHORIA
        </p>
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper sapien at ultrices tempor. Aenean ac orci magna. Phasellus eleifend mauris a fringilla pretium.
          Aliquam erat volutpat. Praesent semper quis massa vitae cursus. Cras at placerat arcu. Sed tincidunt at odio nec rhoncus. Pellentesque ut vulputate leo, in fermentum elit.
          Vestibulum viverra facilisis velit sit amet rutrum. Vestibulum vehicula convallis ipsum, id aliquet ante varius a. Sed dictum aliquam lorem in blandit.
          Sed tristique faucibus massa, quis faucibus est eleifend eget. Nullam porttitor quam sit amet neque tempor placerat. Maecenas bibendum, ligula mollis malesuada tincidunt,
          urna ligula blandit justo, id molestie lectus elit vel ligula.<br/>
          !!!!Revisar redaccion (y puntuacion) de esta wea!!!<br/>
          En la seccion de BLOG suelo postear bla bla bla<br/>
          Al contrario de la seccion de SIPS&BITS donde suelo escribir pensamientos o ideas sueltas sobre lo que estoy desarrollando en ese momento, puede que no las termine desarrollando
          pero se me hace buena idea descargar esas notas de mi cabeza y plasmarlas en algun lugar.
          Ultimamente le he agarrado el gusto a la fotografia, entonces ademas de poder leer sobre mis viajes en la seccion de BLOGS quise hacer mi seccion de GALERIA para poder ver
          mis fotografias de una forma mas general.
        </p>
      </div>
      <div data-controller="scroll-to">
        <%= link_to icon('fa-solid', 'angle-down', class:'fa-2xl'), '#projects', data: { action: "click->scroll-to#scrollToSection" } %>
      </div>
    </div>
  </div>
  <div id="last-blog" data-target="scroll-to.section" class="h-fit w-full flex flex-row">
    <p class="w-1/2 text-5xl"> Blog mas reciente </p>
    <div class="w-1/2 h-96 flex flex-col justify-center items-center">
      <% if @last_blog.present?  %>
        <p class="w-fit h-fit text-3xl"><%= @last_blog.title %></p>
      <% else  %>
        <p class="w-fit h-fit text-5xl"> [Aun no hay blogs publicados] </p>
      <% end %>
    </div>
  </div>
  <div id="projects" data-target="scroll-to.section" class="h-fit w-full flex flex-col">
    <p class="text-5xl"> Proyectos </p>
    <div class=" h-96 flex flex-col justify-center items-center">
      <p class="w-fit h-fit text-5xl"> [Aqui deberian ir proyectos cool en los que este trabajando]</p>
    </div>
  </div>
  <hr class="mb-5 border border-black">
    <div name="navbar" class="w-full h-fit flex flex-row items-end justify-evenly text-xl">
      <%= link_to "BLOG", blog_posts_path, class: "hover:text-orange-400" %>
      <%= link_to "SIPS&BITS", root_path, class: "hover:text-orange-400" %>
      <%= link_to "GALERIA", root_path, class: "hover:text-orange-400" %>
      <%= link_to "SOBRE MI", aboutme_path, class: "hover:text-orange-400" %>
      <div class="flex flex-row gap-2">
        <%= link_to icon('fa-brands', 'square-github', class:'fa-2xl'), "https://github.com/iamzanahorio", :target => "_blank" %>
        <%= link_to icon('fa-brands', 'square-twitter', class:'fa-2xl'), "https://twitter.com/iamzanahorio", :target => "_blank" %>
        <%= link_to icon('fa-brands', 'square-instagram', class:'fa-2xl'), "https://www.instagram.com/iamzanahorio/", :target => "_blank" %>
      </div>
    </div>
</div>
